.inline {
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
}

.player-image-card {
  text-align: center;
  height: fit-content;
}

.label-container {
  width: 100%;
}

.check-mark {
  position: absolute;
  bottom: 3%;
  left: 80%;
  transform: translate(-80%, -3%);
  color: var(--success-color);
  background-color: var(--background-color);
  padding: 0.5vh 1vw;
  border-radius: 10px;
}

.result-subtitle {
  font-size: 0.9rem;
}

.textualAnswer {
  margin: 5vw 0;
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textualAnswer p {
  padding: 1vh 0px;
  margin-bottom: 0px;
}

.textualAnswerContainer {
  display: flex;
  flex-direction: column;
}