.players-list {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* Permette al pulsante Delete di posizionarsi assolutamente */
  border-radius: 10px;
  /* Bordo arrotondato */
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease;
  /* Transizione fluida per il movimento */
}

/* Div dell'immagine */
.player-image {
  flex-shrink: 0;
}

.player-img {
  width: auto;
  height: auto;
  max-width: 12vw;
  max-height: 12vw;
  object-fit: contain;
  border-radius: 50%;
}

.player-name {
  font-weight: bold;
  font-size: 3.5vw;
  color: #d4d4d4;
}

.player-status {
  width: 20vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-flex;
  text-align: center;
}

.status-pill {
  padding: 2vw;
  border-radius: 5vw;
  font-size: 2.5vw;
  flex-grow: 1;
}

.lobby-button-group {
  display: flex;
  justify-content: space-between;
}

.lobby-button-group button {
  width: 47%;
}

.swipeable {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: bottom;
  backface-visibility: hidden;
}

.swipeable:last-child {
  margin: 0;
}

.swipeable .inner {
  position: relative;
  z-index: 2;
  backface-visibility: hidden;
  padding: 5px 24px 5px 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: grab;
  font-size: 12px;
  color: #555;
}

.swipeable .inner:active {
  cursor: grabbing;
}

/* Stile per il pulsante Delete */
.action-button.delete {
  position: absolute;
  /* Posizionamento assoluto */
  right: 0;
  /* Posiziona il pulsante a destra */
  top: 0;
  /* Allinea in alto */
  bottom: 0;
  /* Estende fino in basso */
  width: 50px;
  /* Larghezza iniziale minima */
  display: flex;
  /* Usa flexbox per centrare il contenuto */
  align-items: center;
  /* Centra verticalmente il contenuto */
  justify-content: center;
  /* Centra orizzontalmente il contenuto */
  background: rgb(214, 77, 77);
  /* Colore di sfondo del pulsante */
  color: white;
  /* Colore del testo */
  transition: width 0.3s ease, opacity 0.3s ease;
  /* Transizioni per larghezza e opacità */
  overflow: hidden;
  /* Evita che il testo trabocchi */
}

.action-button.delete .text {
  font-size: 12px;
  /* Dimensione del testo */
  white-space: nowrap;
  /* Evita la rottura del testo */
}

/* Quando il pulsante Delete viene mostrato */
.swipeable .action-button.delete {
  right: 0;
  /* Fissa il pulsante a destra */
}