/* NewGame.css */

.counter {
  display: flex;
  justify-content: space-evenly;
}

.btn-change-value {
  padding: 0;
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  font-size: 35px;
  color: var(--text-color)
}

.bottom-modal {
  border-top: 2px solid var(--quartary-color);
  /* Added border style, width, and color */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  z-index: 1000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.bottom-modal.open {
  transform: translateY(0);
}

.btn-bottom-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background: none;
  color: var(--text-color);
}

/* Add this to your CSS file */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--quartary-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--quartary-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--quartary-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--quartary-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Allinea lo switch e il testo verticalmente al centro */
  margin-bottom: 15px;
  /* Spazio inferiore tra gli switch */
}

.switch-label {
  margin-left: 10px;
  /* Spazio a sinistra del testo accanto allo switch */
  color: var(--text-color);
  /* Stile del testo */
}

/* Per Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Per Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}